html {
  font-family: "Fredoka One", sans-serif;
  background-image: repeating-linear-gradient(145deg, #c9fcff, #c9fcff 10px, #d4fdff 10px, #d4fdff 20px);
}

h1 {
  color: #990073;
  transform: rotate(-10deg) translateY(1em);
}

p {
  color: #c09;
  transform: rotate(-5deg) translateY(2.5em) translateX(.5em);
  max-width: 19em;
}

.btn, .btn-ghost {
  text-decoration: none;
  color: #c09;
  border: 2px solid #990073;
  border-radius: 2px;
  transform: translateY(3em) translateX(1em);
}

.btn:hover, .btn-ghost:hover {
  color: #c09;
  border-color: #990073;
}

.images {
  position: relative;
}

.cone {
  position: absolute;
  bottom: -13em;
  left: 7em;
  z-index: 1000;
  transform: scale(.75);
  animation: cone .3s linear;
}

@keyframes cone {

  0% {
    transform: translateY(-30em);
  }

  100% {
    transform: translateY(0);
  }
}

.mint-chip {
  position: absolute;
  bottom: -7em;
  left: 7em;
  transform: scale(.75);
  animation: mint .3s .3s linear backwards;
}

@keyframes mint {

  0% {
    transform: translateY(-30em);
  }

  100% {
    transform: translateY(0);
  }
}

.chocolate-chip {
  position: absolute;
  bottom: -3em;
  left: 7.5em;
  transform: scale(.75);
  animation: choc .3s .6s linear backwards;
}

@keyframes choc {

  0% {
    transform: translateY(-30em);
  }

  100% {
    transform: translateY(0);
  }
}

.vanilla-fudge {
  position: absolute;
  bottom: 1em;
  left: 7em;
  transform: scale(.75);
  animation: fudj .3s .9s linear backwards;
}

@keyframes fudj {

  0% {
    transform: translateY(-30em);
  }

  100% {
    transform: translateY(0);
  }
}

.cherry {
  position: absolute;
  bottom: 5.5em;
  left: 7em;
  transform: scale(.75);
  animation: cherry .3s 1.5s linear backwards;
}

@keyframes cherry {

  0% {
    transform: translateY(-30em);
  }

  100% {
    transform: translateY(0);
  }
}

.text {
  text-shadow: 2px 2px #b3fbff;
  animation: words .3s 1.5s linear backwards;
}

@keyframes words {

  0% {
    opacity: 0;
    filter: blur(7px);
  }

  100% {
    opacity: 100;
  }
}
