html {
  font-family: "Fredoka One", sans-serif;
  background-image: repeating-linear-gradient(145deg, #c9fcff, #c9fcff 10px, #d4fdff 10px, #d4fdff 20px);
}

h1 {
  color: #990073;
  transform: rotate(-10deg) translateY(1em);
}

p {
  color: #c09;
  transform: rotate(-5deg) translateY(2.5em) translateX(.5em);
  max-width: 19em;
}

.btn {
  text-decoration: none;
  color: #c09;
  border: 2px solid #990073;
  border-radius: 2px;
  transform: translateY(4em) translateX(1em);
}

.images {
  position: relative;
}

.cone {
  position: absolute;
  bottom: -20em;
  left: 5em;
  z-index: 1000;
}

.mint-chip {
  position: absolute;
  bottom: -12em;
  left: 5em;
}

.chocolate-chip {
  position: absolute;
  bottom: -6em;
  left: 6em;
}

.vanilla-fudge {
  position: absolute;
  bottom: -1em;
  left: 5em;
}

.cherry {
  position: absolute;
  bottom: 5em;
  left: 5em;
}
